.fade-enter-active,
.fade-up-enter-active,
.fade-up-leave-active {
  transition: all 500ms;
}

.fade-up-enter-from,
.fade-up-leave-to {
  transform: translateY(10px);
  opacity: 0;
}

.fade-up-leave {
  transform: translateY(0);
  opacity: 1;
}
